@layer rdg {
  @layer Defaults,
    FocusSink,
    CheckboxInput,
    CheckboxIcon,
    CheckboxLabel,
    Cell,
    HeaderCell,
    SummaryCell,
    EditCell,
    Row,
    HeaderRow,
    SummaryRow,
    GroupedRow,
    Root;

  @layer Defaults {
    .rnvodz57-0-0-beta-40 *,
    .rnvodz57-0-0-beta-40 *::before,
    .rnvodz57-0-0-beta-40 *::after {
      box-sizing: inherit;
    }
  }

  @layer Root {
    .rnvodz57-0-0-beta-40 {
      --rdg-color: #000;
      --rdg-border-color: #d3dae6;
      --rdg-summary-border-color: #aaa;
      --rdg-background-color: hsl(0deg 0% 100%);
      --rdg-header-background-color: #fff;
      --rdg-header-draggable-background-color: hsl(0deg 0% 90.5%);
      --rdg-row-hover-background-color: hsl(0deg 0% 96%);
      --rdg-row-selected-background-color: hsl(207deg 76% 92%);
      --rdg-row-selected-hover-background-color: #e5f1fa;
      --rdg-checkbox-color: hsl(207deg 100% 29%);
      --rdg-checkbox-focus-color: hsl(207deg 100% 69%);
      --rdg-checkbox-disabled-border-color: #ccc;
      --rdg-checkbox-disabled-background-color: #ddd;
      --rdg-selection-color: #66afe9;
      --rdg-font-size: 15px;
      --rdg-row-height: 30px;
      display: grid;
      color-scheme: var(--rdg-color-scheme, light dark);
      contain: content;
      content-visibility: auto;
      block-size: 350px;
      border: 1px solid var(--rdg-border-color);
      box-sizing: border-box;
      overflow: auto;
      background-color: var(--rdg-background-color);
      color: var(--rdg-color);
      font-size: var(--rdg-font-size);
      height: 100%;
    }

    .rnvodz57-0-0-beta-40::before {
      content: "";
      grid-column: 1/-1;
      grid-row: 1/-1;
    }

    .rnvodz57-0-0-beta-40.rdg-dark {
      --rdg-color-scheme: dark;
      --rdg-color: #ddd;
      --rdg-border-color: #444;
      --rdg-summary-border-color: #555;
      --rdg-background-color: hsl(0deg 0% 13%);
      --rdg-header-background-color: hsl(0deg 0% 10.5%);
      --rdg-header-draggable-background-color: hsl(0deg 0% 17.5%);
      --rdg-row-hover-background-color: hsl(0deg 0% 9%);
      --rdg-row-selected-background-color: hsl(207deg 76% 42%);
      --rdg-row-selected-hover-background-color: hsl(207deg 76% 38%);
      --rdg-checkbox-color: hsl(207deg 100% 79%);
      --rdg-checkbox-focus-color: hsl(207deg 100% 89%);
      --rdg-checkbox-disabled-border-color: #000;
      --rdg-checkbox-disabled-background-color: #333;
    }

    .rnvodz57-0-0-beta-40.rdg-light {
      --rdg-color-scheme: light;
    }

    @media (prefers-color-scheme: light) {
      .rnvodz57-0-0-beta-40:not(.rdg-light) {
        --rdg-color: #ddd;
        --rdg-border-color: #444;
        --rdg-summary-border-color: #555;
        --rdg-background-color: hsl(0deg 0% 13%);
        --rdg-header-background-color: hsl(0deg 0% 10.5%);
        --rdg-header-draggable-background-color: hsl(0deg 0% 17.5%);
        --rdg-row-hover-background-color: hsl(0deg 0% 9%);
        --rdg-row-selected-background-color: hsl(207deg 76% 42%);
        --rdg-row-selected-hover-background-color: hsl(207deg 76% 38%);
        --rdg-checkbox-color: hsl(207deg 100% 79%);
        --rdg-checkbox-focus-color: hsl(207deg 100% 89%);
        --rdg-checkbox-disabled-border-color: #000;
        --rdg-checkbox-disabled-background-color: #333;
      }
    }
  }
}

@layer rdg.MeasuringCell {
  .mlln6zg7-0-0-beta-40 {
    contain: strict;
    grid-row: 1;
    visibility: hidden;
  }
}

@layer rdg.Cell {
  .cj343x07-0-0-beta-40 {
    /* max-content does not work with size containment
     * dynamically switching between different containment styles incurs a heavy relayout penalty
     * Chromium bug: at odd zoom levels or subpixel positioning,
     * layout/paint/style containment can make cell borders disappear
     *   https://bugs.chromium.org/p/chromium/issues/detail?id=1326946
     */
    position: relative;
    /* needed for absolute positioning to work */
    padding-block: 0;
    padding-inline: 8px;
    border-inline-end: 1px solid var(--rdg-border-color);
    border-block-end: 1px solid var(--rdg-border-color);
    grid-row-start: var(--rdg-grid-row-start);
    background-color: inherit;

    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .cj343x07-0-0-beta-40[aria-selected="true"] {
    outline: 2px solid var(--rdg-selection-color);
    outline-offset: -2px;
  }

  .rdg-header-row .cj343x07-0-0-beta-40 {
    font-weight: 500;
  }
}

@layer rdg.Cell {
  .csofj7r7-0-0-beta-40 {
    position: sticky;
    /* Should have a higher value than 0 to show up above unfrozen cells */
    z-index: 1;
  }
}

@layer rdg.Cell {
  .ch2wcw87-0-0-beta-40 {
    box-shadow: calc(2px * var(--rdg-sign)) 0 5px -2px rgba(136, 136, 136, 0.3);
  }
}

@layer rdg.CheckboxLabel {
  .c1bn88vv7-0-0-beta-40 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    margin-inline-end: 1px;
  }
}

@layer rdg.CheckboxInput {
  .c1qt073l7-0-0-beta-40 {
    all: unset;
  }
}

@layer rdg.CheckboxIcon {
  .cf71kmq7-0-0-beta-40 {
    content: "";
    inline-size: 20px;
    block-size: 20px;
    border: 2px solid var(--rdg-border-color);
    background-color: var(--rdg-background-color);
    border-radius: 4px;
  }

  .c1qt073l7-0-0-beta-40:checked + .cf71kmq7-0-0-beta-40 {
    background-color: var(--rdg-checkbox-color);
    outline: 4px solid var(--rdg-background-color);
    outline-offset: -6px;
  }

  .c1qt073l7-0-0-beta-40:focus + .cf71kmq7-0-0-beta-40 {
    border-color: var(--rdg-checkbox-focus-color);
  }
}

@layer rdg.CheckboxLabel {
  .c1lwve4p7-0-0-beta-40 {
    cursor: default;
  }

  .c1lwve4p7-0-0-beta-40 .cf71kmq7-0-0-beta-40 {
    border-color: var(--rdg-checkbox-disabled-border-color);
    background-color: var(--rdg-checkbox-disabled-background-color);
  }
}

@layer rdg.GroupCellContent {
  .g1s9ylgp7-0-0-beta-40 {
    outline: none;
  }
}

@layer rdg.GroupCellCaret {
  .cz54e4y7-0-0-beta-40 {
    margin-inline-start: 4px;
    stroke: currentColor;
    stroke-width: 1.5px;
    fill: transparent;
    vertical-align: middle;
  }

  .cz54e4y7-0-0-beta-40 > path {
    transition: d 0.1s;
  }
}

@layer rdg.DragHandle {
  .c1w9bbhr7-0-0-beta-40 {
    --rdg-drag-handle-size: 8px;
    z-index: 0;
    cursor: move;
    inline-size: var(--rdg-drag-handle-size);
    block-size: var(--rdg-drag-handle-size);
    background-color: var(--rdg-selection-color);
    place-self: end;
  }

  .c1w9bbhr7-0-0-beta-40:hover {
    --rdg-drag-handle-size: 16px;
    border: 2px solid var(--rdg-selection-color);
    background-color: var(--rdg-background-color);
  }
}

@layer rdg.DragHandle {
  .c1creorc7-0-0-beta-40 {
    z-index: 1;
    position: sticky;
  }
}

@layer rdg.EditCell {
  .cis5rrm7-0-0-beta-40 {
    padding: 0;
  }
}

@layer rdg.SortableHeaderCell {
  .h44jtk67-0-0-beta-40 {
    display: flex;
  }
}

@layer rdg.SortableHeaderCellName {
  .hcgkhxz7-0-0-beta-40 {
    flex-grow: 1;
    overflow: clip;
    text-overflow: ellipsis;
  }
}

@layer rdg.HeaderCell {
  .c6l2wv17-0-0-beta-40 {
    cursor: pointer;
  }
}

@layer rdg.HeaderCell {
  .c1kqdw7y7-0-0-beta-40 {
    touch-action: none;
  }
}

@layer rdg.HeaderCell {
  .r1y6ywlx7-0-0-beta-40 {
    cursor: col-resize;
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    inline-size: 10px;
  }
}

.c1bezg5o7-0-0-beta-40 {
  opacity: 0.5;
}

.c1vc96037-0-0-beta-40 {
  background-color: var(--rdg-header-draggable-background-color);
}

@layer rdg.Row {
  .r1upfr807-0-0-beta-40 {
    display: contents;
    line-height: var(--rdg-row-height);
    background-color: var(--rdg-background-color);
  }

  .r1upfr807-0-0-beta-40:hover {
    background-color: var(--rdg-row-hover-background-color);
  }

  .r1upfr807-0-0-beta-40[aria-selected="true"] {
    background-color: var(--rdg-row-selected-background-color);
  }

  .r1upfr807-0-0-beta-40[aria-selected="true"]:hover {
    background-color: var(--rdg-row-selected-hover-background-color);
  }
}

@layer rdg.FocusSink {
  .r190mhd37-0-0-beta-40 {
    outline: 2px solid var(--rdg-selection-color);
    outline-offset: -2px;
  }
}

@layer rdg.FocusSink {
  .r139qu9m7-0-0-beta-40::before {
    content: "";
    display: inline-block;
    height: 100%;
    position: sticky;
    inset-inline-start: 0;
    border-inline-start: 2px solid var(--rdg-selection-color);
  }
}

@layer rdg.HeaderRow {
  .h10tskcx7-0-0-beta-40 {
    display: contents;
    line-height: var(--rdg-header-row-height);
    background-color: var(--rdg-header-background-color);
    font-weight: bold;
  }

  .h10tskcx7-0-0-beta-40 > .cj343x07-0-0-beta-40 {
    /* Should have a higher value than 1 to show up above regular cells and the focus sink */
    z-index: 2;
    position: sticky;
  }

  .h10tskcx7-0-0-beta-40 > .csofj7r7-0-0-beta-40 {
    z-index: 3;
  }
}

@layer rdg.Cell {
  .c6ra8a37-0-0-beta-40 {
    background-color: #ccccff;
  }
}

@layer rdg.Cell {
  .cq910m07-0-0-beta-40 {
    background-color: #ccccff;
  }

  .cq910m07-0-0-beta-40.c6ra8a37-0-0-beta-40 {
    background-color: #9999ff;
  }
}

@layer rdg.SortIcon {
  .a3ejtar7-0-0-beta-40 {
    fill: currentColor;
  }

  .a3ejtar7-0-0-beta-40 > path {
    transition: d 0.1s;
  }
}

@layer rdg.Root {
  .vlqv91k7-0-0-beta-40 {
    user-select: none;
  }

  .vlqv91k7-0-0-beta-40 .r1upfr807-0-0-beta-40 {
    cursor: move;
  }
}

@layer rdg.FocusSink {
  .f1lsfrzw7-0-0-beta-40 {
    grid-column: 1/-1;
    pointer-events: none;
    /* Should have a higher value than 1 to show up above regular frozen cells */
    z-index: 1;
  }
}

@layer rdg.FocusSink {
  .f1cte0lg7-0-0-beta-40 {
    /* Should have a higher value than 3 to show up above header and summary rows */
    z-index: 3;
  }
}

@layer rdg.SummaryCell {
  .s8wc6fl7-0-0-beta-40 {
    inset-block-start: var(--rdg-summary-row-top);
    inset-block-end: var(--rdg-summary-row-bottom);
  }
}

@layer rdg.SummaryRow {
  .skuhp557-0-0-beta-40 {
    line-height: var(--rdg-summary-row-height);
  }

  .skuhp557-0-0-beta-40 > .cj343x07-0-0-beta-40 {
    position: sticky;
  }
}

@layer rdg.SummaryRow {
  .tf8l5ub7-0-0-beta-40 > .cj343x07-0-0-beta-40 {
    z-index: 2;
  }

  .tf8l5ub7-0-0-beta-40 > .csofj7r7-0-0-beta-40 {
    z-index: 3;
  }
}

@layer rdg.SummaryRow {
  .tb9ughf7-0-0-beta-40 > .cj343x07-0-0-beta-40 {
    border-block-end: 2px solid var(--rdg-summary-border-color);
  }
}

@layer rdg.SummaryRow {
  .b1yssfnt7-0-0-beta-40 > .cj343x07-0-0-beta-40 {
    border-block-start: 2px solid var(--rdg-summary-border-color);
  }
}

@layer rdg.GroupedRow {
  .g1yxluv37-0-0-beta-40:not([aria-selected="true"]) {
    background-color: var(--rdg-header-background-color);
  }

  .g1yxluv37-0-0-beta-40
    > .cj343x07-0-0-beta-40:not(:last-child):not(.ch2wcw87-0-0-beta-40) {
    border-inline-end: none;
  }
}

@layer rdg.TextEditor {
  .t7vyx3i7-0-0-beta-40 {
    appearance: none;

    box-sizing: border-box;
    inline-size: 100%;
    block-size: 100%;
    padding-block: 0;
    padding-inline: 6px;
    border: 2px solid #ccc;
    vertical-align: top;
    color: var(--rdg-color);
    background-color: var(--rdg-background-color);

    font-family: inherit;
    font-size: var(--rdg-font-size);
  }

  .t7vyx3i7-0-0-beta-40:focus {
    border-color: var(--rdg-selection-color);
    outline: none;
  }

  .t7vyx3i7-0-0-beta-40::placeholder {
    color: #999;
    opacity: 1;
  }
}
