PLAYWRIGHT_BASE_URL=http://127.0.0.1:3001
PLAYWRIGHT_API_URL=http://127.0.0.1:8080/api

MYSQL_TEST_HOST=127.0.0.1
MYSQL_TEST_PORT=3307
MYSQL_TEST_USER=root
MYSQL_TEST_PASSWORD=secret

PGSQL_TEST_HOST=127.0.0.1
PGSQL_TEST_PORT=5432
PGSQL_TEST_USER=default
PGSQL_TEST_PASSWORD=secret

PGSQL_SSL_TEST_HOST=127.0.0.1
PGSQL_SSL_TEST_PORT=5433
PGSQL_SSL_TEST_USER=default
PGSQL_SSL_TEST_PASSWORD=secret