name: Tests

on:
  push:
    branches: [master, release, dev]

  pull_request:
    branches: [master, release, dev]

jobs:
  go-static-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24
          check-latest: true
          cache: true
      - name: Verify go.mod is tidy
        working-directory: ./backend
        run: |
          go mod tidy
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1
          working-directory: ./backend

  # front-quality:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: biomejs/setup-biome@v2
  #       with:
  #         version: latest
  #     - name: Run Biome
  #       run: biome ci frontend/src

  # front-test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 20
          
  #     - name: install frontend dependencies
  #       working-directory: /frontend
  #       run: npm install
      
  #     - name: run tests
  #       working-directory: /frontend
  #       run: npm run test